html, body
{
  height: 100%;

  /* to remove margin of header card in top */
  padding: 0;
  margin: 0;

  /* application's default font family as Montserrat */
  font-family: 'Montserrat';
  
}

/* Target everything to be a bordered box */
*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




/* HEADER STYLE BEGIN */

.header-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: #ecf4ff;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);

}

.header-tabs{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;   
}

.header-item{
    margin-right: 30px;
}

.header-item-link:hover{
    cursor: pointer;
    color: #ecf4ff;
    background-color:  rgb(5, 5, 44) ;
    padding: 8px;
    border-radius: 5px;
}
.header-item-link{
    color: rgb(5, 5, 44) ;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;

}
/* HEADER STYLE END */


/* FOOTER STYLE BEGIN */
footer {
    color: whitesmoke;
}
.footer-body{
    margin: auto;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    
 }
 
 .footer-container{
     display: flex;
     flex-direction: column;
     width: 100%;
     height: max-content;
 }
 
 .footer-top{
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     background-color: #112757;
     justify-content: center;
 }
 .footer-bottom{
     background-color: #001b49;
     text-align: center;
     padding: 10px;
 }
 
 .footer-right{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 20%;
    
 }
 
 
 .footer-left{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 23%;
 
 }
 
 .footer-list{
     list-style: none;
 }
 
 
 .footer-item{
     margin-right: 30px;
     margin-bottom: 10px;
 }
 
 .footer-item-link:hover{
     cursor: pointer;
     color: #ecf4ff;
     background-color:  rgb(5, 5, 44) ;
     padding: 4px 8px;
     border-radius: 5px;
 }
 .footer-item-link{
     color: whitesmoke ;
     text-transform: uppercase;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
     padding: 1px 8px;
     
 
 }
/* FOOTER STYLE END */