.footer-body{
   margin: auto;
   color: whitesmoke;
   font-family: 'Montserrat', sans-serif;
   
}

.footer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.footer-top{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #112757;
    justify-content: center;
}
.footer-bottom{
    background-color: #001b49;
    text-align: center;
    padding: 10px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
   
}


.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;

}

.footer-list{
    list-style: none;
}


.footer-item{
    margin-right: 30px;
    margin-bottom: 10px;
}

.footer-item-link:hover{
    cursor: pointer;
    color: #ecf4ff;
    background-color:  rgb(5, 5, 44) ;
    padding: 4px 8px;
    border-radius: 5px;
}
.footer-item-link{
    color: whitesmoke ;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 1px 8px;
    

}